.filterToggle {
  background-color: #172242;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.filterBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  position: fixed;
  top: 180px;
  right: 620px;
  width: 100px;
  height: 110px;
  background-color: #172242;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 1000; /* makes the button on top of other content */
  overflow: hidden;
}

.filterBox button {
  height: 20px;
}

button.category {
  font-size: 13px;
  color: white;
}

.filterBox button:hover {
  background-color: #445A9A;
}