@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  
.chatModel {
    background-color: #172242;
    margin-left: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 94%;
  }
  
.chatHistory {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }

.message {
    margin-bottom: 20px;
    background-color: #445A9A;

}

.bot {
    color: white;
    text-align: left;
    
}

.user {
    color: white;
    font-size: 0.95em;
    text-align: right;
    border-radius: 5%;
    
}

  
.chatInput {
    display: flex;
    width: 100%;
    padding: 5px;
    background-color: #172242;
    border-top: 0.7px solid #ffffff;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}

.chatInput input {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 6px;
    background-color: #445A9A;
    color: white;
}
  
.chatInput button {
    background-color: #445A9A;
    
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

.chatBubble {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word;
  }
  
.chatBubble.user {
    background-color: #445A9A;
    color: white;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
  }
  
.chatBubble.bot {
    background-color: #445A9A;
    color: white;
    border-radius: 10px 10px 10px 0;
  }
  
  