

.item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 20%;
    border: 0px; /* the gray border outside */
    border-radius: 10px; /* for smoothed corners */
    padding: 15px;
    background-color: #172242;
}

.coverPhoto {
    font-size: 1em;
    width: 95%;
    height: 300px; 
    background-color: #445A9A;
    margin-bottom: 15px;
    margin-left: 8px;
    border-radius: 15px; 
}

.title {
    color: white;
    font-size: 1em;
    text-align: left;
    width: 100%;

}

.description{
  margin-top: -10px;
    color: white;
    font-size: .63em;
    width: 190px;
    text-align: left;
    /* height: 230px; */
}

.multipleTitles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 5px;
    text-align: left;

}

.subtitle {
    color: white;
    font-size: .75em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;

}

img {
    width: 185px;
    height: 270px;
    border-radius: 5px; 
  }

.flipCard {
  perspective: 1000px;
  width: 20%;
  position: relative;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}

.flipCard.flipped .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 15px;
  padding: 15px;
  background-color: #445A9A;
}

.flipCardFront {
  z-index: 2;
}

.flipCardBack {
  transform: rotateY(180deg);
  z-index: 1;
}

.title svg {
  cursor: pointer;
  transition: fill 0.3s ease;
}

.title svg:hover {
  fill: #FF6347; /* Change to your desired color on hover */
}