.chatToggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #19191B;
    color: white;
    border: none;
    border-radius: 25%;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000; /* makes the button on top of other content */
  }
  
.chatBox {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 440px;
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* makes the button on top of other content */
    overflow: hidden;
  }

  .chatHeader {
    font-family: Work Sans;
    background-color: #000000;
    color: white;
    padding: 10px;
    /* border-bottom: 1px solid #444; */
    border-radius: 10px 10px 0 0;
    text-align: center;
}