@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Work Sans, Arial;
    background-color: #19191B;
}

br {
    color: white;
    background-color: white;
}

.container {
    width: 100%;
    margin: 0 auto; /* to center the divs */
    text-align: center;
}

.book-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  gap: 15px;
  /* max-height: 100vh; 
  overflow-y: auto; for scrolling */
}

.page-title {
    color: white;
    margin: 30px 0;
    font-size: 1em;
    text-align: left;
}

.welcome-container {
  color: red;
  
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    margin-top: 90px;
    /* margin-bottom: 40px; */
    background: #172242;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 15px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .book-rating {
    display: flex;
    align-items: center;
  }
  
  .book-rating svg {
    margin-right: 1px;
  }